{:infer-externs true, :optimizations :advanced, :asset-path "public/main.out", :output-dir "/home/dipi/.boot/cache/tmp/home/dipi/Code/flappy-tetris/fcz/wxrdjy/public/main.out", :output-to "/home/dipi/.boot/cache/tmp/home/dipi/Code/flappy-tetris/fcz/wxrdjy/public/main.js", :main boot.cljs.main3403, :output-wrapper true, :warning-handlers [#object[adzerk.boot_cljs.impl$compile_cljs$handler__781 0x7be3eec7 "adzerk.boot_cljs.impl$compile_cljs$handler__781@7be3eec7"]]}